.addIt {
  font-size: 24px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  padding: 10px;
  text-transform: uppercase;
 background-color: #e91e63;

}

#btnAdd{
color: white;
background: #e91e63;

font-size: 24px;
box-shadow:aqua;

font-family: 'Courier New', Courier, monospace;


}

#centerEle{
  text-align: center;
  font-size: 24px;
}

#textTodo{
  background-color: #ddd;
  width: 100%;
  font-size: 24px;
  border:none;
  text-transform: uppercase;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

body ul{
  margin: 0;
  padding: 15px;
}

body ul li{
  list-style: none;
  padding: 5px;
  margin-bottom:10px;
  background-color:#ddd;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

#cancelBtn{
  cursor: pointer;
float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  border:none;
  color: white;
  font-weight: bold;
}